.main {
    position: relative;
}

.main .slider figure {
    height: 600px;
}

.main .slider .img01 {
    background: url(../img/mainvisual01.jpg)no-repeat center center/cover;
}

.main .slider .img02 {
    background: url(../img/mainvisual02.jpg)no-repeat center center/cover;
}

.main .slider .img03 {
    background: url(../img/mainvisual03.jpg)no-repeat center center/cover;
}

.main .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogan h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 30px 0;
    color: #fff;
}

.slogan p {
    font-size: 21px;
    font-weight: 300;
    margin: 0 0 30px 0;
    line-height: 1.4;
    color: #fff;
}

.main .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    width: 100px;
    height: 100px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    background: #333;
    font-size: 0;
}

.main .slick-prev {
    margin: 0 0 0 -700px;
    transform: rotate(-45deg);
}

.main .slick-next {
    margin: 0 0 0 700px;
    transform: rotate(135deg);
}